{
    "name": "{{ project_name }}",
    "dockerComposeFile": "../docker-compose.yaml",
    "service": "devcontainer",
    "shutdownAction": "stopCompose",
    "workspaceFolder": "/workdir",
    "postStartCommand": "make install-pre-commit && cd {{ package_name }} && make sync",
    "customizations": {
        "vscode": {
            "extensions": [
                "ms-python.python",
                "ms-toolsai.jupyter",
                "johnpapa.vscode-peacock",
                "charliermarsh.ruff",
                "astral-sh.ty"
            ],
            "settings": {
                "python.terminal.activateEnvironment": false,
                "python.defaultInterpreterPath": "/workspaces/{{ project_name }}/{{ package_name }}/.venv/bin/python3",
                "ruff.interpreter": ["/workspaces/{{ project_name }}/{{ package_name }}/.venv/bin/python3"],
                "ty.interpreter": ["/workspaces/{{ project_name }}/{{ package_name }}/.venv/bin/python3"],
                "ty.inlayHints.callArgumentNames": false,
                "ty.inlayHints.variableTypes": false,
                "ty.completions.autoImport": false
            }
        }
    }
}
