[project]
name = "{{ package_name }}"
version = "0.1.0"
description = ""
readme = "README.md"
requires-python = ">=3.13"
{%- if enable_mlflow %}
dependencies = [
    "mlflow>=3.10.0",
]
{%- endif %}

[build-system]
build-backend = "uv_build"
requires = ["uv_build>=0.10.0,<0.11.0"]

[dependency-groups]
dev = [
    "ruff>=0.15.0",
    "ty>=0.0.16",
    "ipykernel>=7.2.0",
]

[tool.ruff]
line-length = 90
indent-width = 4
include = [
    "src/**",
    "tests/**",
]
exclude = [
    "notebooks/**",
]

[tool.ruff.lint]
select = [
    "B",  # flake8-bugbear
    "D",  # pydocstyle
    "E",  # pycodestyle
    "F",  # pyflakes
    "I",  # isort
    "EM",  # flake8-errmsg
    "T20",  # flake8-print
    "RET",  # flake8-return
    "ANN",  # flake8-annotations
]
ignore = [
    "D100",  # Ignore missing docstring in public module
    "D104",  # Ignore missing docstring in public package
    "D203",  # Ignore one blank line before class docstring
    "D213",  # Ignore multi-line docstring start on second line
    "D400",  # Ignore missing period in docstring first line (also captured by D415)
    "ANN002",  # Ignore missing *args type annotations
    "ANN003",  # Ignore missing **kwargs type annotations
    "ANN401",  # Ignore Any type annotations
]
